{% extends 'base_bio.html' %}
{% block bgcolor %}#ffffff{% endblock %}
{% block title %}Articles{% endblock %}
{% block sideselected %}articles{% endblock %}
{% block content %}
<h2>Articles:</h2>
<font size="2">
<p>Charles O. Perry, <a target="_other" href="http://www.jstor.org/pss/1575845">On the Edge of Science: The Role of the Artist's Intuition in Science</a>, in <a target="_other" href="http://www.leonardo.info/leoinfo.html">Leonardo</a> Journal Vol. 25, No. 3/4, Visual Mathematics, pp. 249-252 The MIT Press, 1992.</p>

<p>Charles O. Perry, On the edge of science: The role of the artist's intuition in science. In <a target="_other" href="http://mitpress.mit.edu/catalog/item/default.asp?ttype=2&tid=8131">The Visual Mind: Art and Mathematics</a>, pp. 31-34, M. Emmer, ed. Cambridge, Mass.: MIT Press, 1993.</p>

<p>Charles O. Perry, <a target="_other" href="http://nyjm.albany.edu:8000/am/1997/Perry.pdf">Morphology to Sculpture</a>, <a target="_other" href="http://nyjm.albany.edu:8000/am/">Art and Mathematics Conference</a>, <a target="_other" href="http://www.ylem.org/">ylem</a> Nov/Dec 1997.</p>

<p>Charles O. Perry, <a target="_other" href="http://www.mi.sanu.ac.rs/vismath/perry/p16.htm">Continuum, Broken Symmetry, and More. In <a target="_other" href="http://www.sckans.edu/~bridges/">Bridges: Mathematical Connections in Art, Music, and Science Conference Proceedings</a>, R. Sarhangi, ed. 1998.</p>

<p>Charles O. Perry, Symmetrical Sculpture. in <a target="_other" href="http://books.google.com/books?id=PAUvAQAAIAAJ&q=%22Charles+O.+Perry%22&dq=%22Charles+O.+Perry%22&hl=en&ei=Cd6ETOScG4PGlQfGp_iKDw&sa=X&oi=book_result&ct=result&resnum=15&ved=0CFoQ6AEwDjhk">Symmetry 2000: Proceedings from a symposium held at the Wenner-Gren Centre, Stockholm, in September 2000, Part 1</a> Portland Press, 2002 pp. 543 </p>

<p>Charles O. Perry, <a href="http://books.google.com/books?id=5kbP664SfyoC&pg=PA89&dq=%22Charles+O.+Perry%22&hl=en&ei=79WETKrdOcT_lgfXoenODw&sa=X&oi=book_result&ct=result&resnum=20&ved=0CH8Q6AEwEw#v=onepage&q=%22Charles%20O.%20Perry%22&f=false">The Garden of Eden</a>. Mathematics and art: mathematical visualization in art and education By Claude Paul Bruter Springer, 2002 pp. 89</p>

<p>Charles O. Perry, God is Everywhere. in <a target="_other" href="http://books.google.com/books?id=JKynT5lRdSgC&pg=PP17&dq=%22Charles+O.+Perry%22&hl=en&ei=79WETKrdOcT_lgfXoenODw&sa=X&oi=book_result&ct=result&resnum=19&ved=0CHkQ6AEwEg#v=onepage&q=%22Charles%20O.%20Perry%22&f=false">Mathematics, Art, Technology, and Cinema</a>. By Michele Emmer, Mirella Manaresi, Springer, 2003 pp. 1</p>

<p><a href="http://books.google.com/books?id=5GBTAAAAMAAJ" target="_other">Charles O. Perry</a> deCesare Design Associates, 1987 .</p>
{% endblock %}
