{% extends 'base_bio.html' %}
{% block bgcolor %}#ffffff{% endblock %}
{% block title %}Associations{% endblock %}
{% block sideselected %}associations{% endblock %}
{% block content %}
<div style="width:400; background-color:white;text-align:left; padding:10px; height:100%;">
  <h1>ASSOCIATIONS</h1>
  <font size="2">
    <p>National Academy of Design, New York City</p>
    <p>The Century Association, New York City</p>
    <p>International Sculpture Center </p>
    <p>Society of Fellows-American Academy,Rome</p>
  </font>
</div>
{% endblock %}
