{% extends 'base_bio.html' %}
{% block bgcolor %}#ffffff{% endblock %}
{% block title %}Awards{% endblock %}
{% block sideselected %}awards{% endblock %}
{% block content %}
  <h1>AWARDS</h1>
  <font size="2">
    <p>The Agop Agopoff Prize for Sculpture-National Academy of Design, 2003</p>
    <p>International Design Exposition, Canada 1998</p>
    <p>International Design Exposition, Canada 1990</p>
    <p>Product Design Award, 1992 Institute of Business Designers</p>
    <p>National Academy of Design Award Best of Show, Sculpture, 1987</p>
    <p>American Iron &amp; Steel Institute: Citation for Excellence in Fine Art 1971</p>
    <p>American Iron &amp; Steel Institute: Citation for Excellence in Fine Art 1969</p>
    <p>Premio Emilia, Bologna, Italy (Trophy award)</p>
  </font>
  <h1>ASSOCIATIONS</h1>
  <font size="2">
    <p>National Academy of Design, New York City</p>
    <p>The Century Association, New York City</p>
    <p>International Sculpture Center </p>
    <p>Society of Fellows-American Academy, Rome</p>
  </font>

{% endblock %}
