{% extends 'base_bio.html' %}
{% block bgcolor %}#ffffff{% endblock %}
{% block title %}Biography{% endblock %}
{% block sideselected %}bio{% endblock %}
{% block content %}
<center><font size="+2"><b>BIOGRAPHY</b></font></center>
<font size="2">
<p style="width:60;">
<img src='/media/thumb/charles-perry.jpg' style='float:left; padding:10px;'>
Charles O. Perry (1929-2011) was a creator, an artist of many
dimensions who ponders the wonderful mysteries of the universe. His
large scale and monumental sculptures celebrate and question the laws
of nature. His intuitive investigation of nature's variables provides
the springboard for many of Perry's concepts. Believing that sculpture
must stand on its own merit without need of explanation, Perry's work
has an elegance of form that masks the mathematical complexity of its
genesis.
</p><p>
Perry has always extolled the beauties of nature and the qualities of
materials, beginning with watercolors of his native Montana, inventing
equipment to improve his tour of duty in Korea, and celebrating Japanese
reverence for natural materials. He returned to America to study art and
architecture and explore the “what ifs” at Yale University in 1954. While at
Yale, Joseph Albers, Chairman of the Art School, encouraged Perry to play
with materials and to discover their true nature. As a student, he pondered
the nature of the rhombus, resulting in the invention of a building brick that
needed no mortar and was unrestricted by the limits of size. The concept
was intuitive, the result was visual art. The piece was later shown at Spoleto's
Festival, Italy, in 1969.
</p><p>
After graduating from Yale, Charles Perry practiced architecture in San
Francisco, California with the firm of Skidmore, Owings, & Merrill, from 1958-
1963. During his architectural career he had developed many sculptural
models and was offered a one-man sculpture show in San Francisco. At
the same time, he won the <a href="http://en.wikipedia.org/wiki/Rome_Prize" target="_other">Rome Prize</a>, a prestigious award granted by
the <a href="http://en.wikipedia.org/wiki/American_Academy_in_Rome" target="_other">American Academy in Rome</a> for two years study in Italy. Prior to leaving
for Rome in 1964, he had secured two major sculpture commissions. "The
basic difference in the discipline of architecture and sculpture is that one
can't force a solution in sculpture, whereas in architecture, one can arrive
at an apparent 'rational' solution through continual work." For Perry, the
appropriateness of the form is the criteria for the final goal.
</p><p>
Since 1964, Perry concentrated on large scale public sculpture, the most
prestigious of which stands in front of the National Air and Space Museum,
in Washington, D.C. The piece, "Continuum", began as an exploration of the
Moebius strip, product of pure mathematics formed by joining two ends of a
strip of paper after giving one end a 180 degree twist, thus creating only one
edge. The center of the bronze sculpture symbolizes a black hole, while the
edge shows the flow of matter through the center from positive to negative
space and back again in a continuum.
</p><p>
"When I set off to be an artist, I would avoid the arbitrary, esteem the orders
of God in Nature, make forms that were beautiful, which appeared to have no
author, forms you thought you had seen before; entwined with mathematics,
geometry, topology, spinning, interlocking, always saying thank you God."
</p><p>
Charles Perry's sculptures are located in public spaces at Dartmouth College,
Hanover, NH; Harvard University, Boston, MA; University of Connecticut
at Storrs, CT; Zeimu University, Tokyo, Japan; Indiana University Art
Museum, Bloomington, IN; General Electric headquarters, Fairfield, CT; IBM
headquarters, Charlotte, NC; Shell Oil, Melbourne, Australia and Singapore.
There are over one hundred major commissions throughout the world.
</p><p>
As an industrial designer, Perry has invented three unique IBD prize winning
chairs. His patents on chair design are licensed to Krueger International,
Steelcase, and Virco. Perry has designed various forms of art such as a
collection of jewelry and silver objects for Tiffany, puzzles for the Museum
of Modern Art, and a chess set which is in the Design Collection of MoMA.
In recent years, Perry has frequently lectured on mathematics and art, in
conferences throughout the world.
</p>
<br>
<ul style="list-style-type: none;">
  <li><b>1929</b> Born in Helena, Montana, USA</li>
  <li><b>1952</b> Lieutenant, Artillery Forward Observer, Korea</li>
  <li><b>1958</b> Master in Architecture, Yale University <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Licensed and practiced architecture, San Francisco, CA</li>
  <li><b>1964</b> First one-man show in sculpture, San Francisco, CA</li>
  <li><b>1964</b> First sculpture commission, Fresno, CA</li>
  <li><b>1964</b> &quot;Prix de Rome&quot; in <a href="http://en.wikipedia.org/wiki/List_of_Fellows_of_the_American_Academy_in_Rome_1896_-_1970" target="_other">architecture</a></li>
  <li><b>1964</b> Moved to Rome, Italy, and practiced architecture and sculpture</li>
  <li><b>1967</b> First one-man show in New York City, NY</li>
  <li><b>1967</b> Chess set design and &quot;Perrygons&quot; a construction toy, <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;marketed by the Museum of Modern Art (MOMA)</li>
  <li><b>1968</b> First outdoor sculpture show, &quot;Festival of Two Worlds,&quot; Spoleto, Italy</li>
  <li><b>1969</b> Artist in Residence at American Academy in Rome</li>
  <li><b>1969</b> Venice Biennale, group print show</li>
  <li><b>1973</b> Artist in Residence at Dartmouth College, Hanover, NH</li>
  <li><b>1977</b> Returned to live in Norwalk, CT, USA</li>
  <li><b>1979</b> First show in jewelry design, &quot;Breakfast at Tiffany&#146;s&quot; New York, NY</li>
  <li><b>1982</b> Puzzle designs marketed by MOMA, Smithsonian I., et al</li>
  <li><b>1991</b> &quot;Perry&quot; chair design launched by Krueger International</li>
  <li><b>1995</b> &quot;Virtuoso&quot; chair design launched by Virco </li>
  <li><b>1997</b> &quot;Uno&quot; chair design launched by Steelcase, Inc.</li>
  <li><b>1980-2003</b> Lecture participation in design, sculpture, symmetry, &quot;art and math,&quot;<br>                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;in USA, Australia, Argentina, Sweden, France and Italy &#151; <i>see Lectures</i></li>
  <li><b>1970-2005</b> Installation of large outdoor and indoor sculpture &#151; <i>see Commissions</i></li>
<ul>
<br><br><br>
{% endblock %}
