{% extends 'base_bio.html' %}
{% block bgcolor %}#ffffff{% endblock %}
{% block title %}Collections{% endblock %}
{% block sideselected %}collections{% endblock %}
{% block scripts %}
<style type="text/css">
<!--
a { text-decoration:none }
a:link {text-decoration:none; }
a:visited {text-decoration:none}
a:active {text-decoration:none}
a:hover {text-decoration:none;color:#000;}
-->
</style>
{% endblock %}
{% block content %}
<h1>COLLECTIONS</h1>
<font size="2">
<p><h3>In collections of:</h3>
  The Museum of Modern Art (MoMA), New York City, NY <br>
  Art Institute of Chicago, Chicago, IL <br>
  Hood Museum of Art at Dartmouth College, Hanover, NH <br>
  University of Michigan, Ann Arbor, MI <br>
  Phillips Academy, Andover, MA <br>
  San Francisco Museum of Modern Art, CA <br>
  De Young Museum, San Francisco, CA <br>
  Contemporary Arts Society, London, Great Britain <br>
  Oakland Museum, Oakland, CA <br>
  Cummer Museum of Art, Jacksonville, FL<br>
  National Accademy of Design, New York, NY<br>
  The Century Association, New York City, NY<br>
  The American Academy in Rome, Rome, Italy<br>
  Smithsonian Institution, Washington, DC <br>
</p>
<p><h3>Partial list of private collectors:</h3>
  Alexandra &amp; David Austin<br>
  Roy Allen<br>
  Anton Arguelas<br>
  <a target="_other" href="http://www.photographywest.com/pages/baer_bio.html">Morley Baer</a><br>
  <a target="_other" href="http://www.marcelbreuer.org/">Marcel Breuer</a><br>
  E. C. Bassett <br>
  Florence Knoll Bassett<br>
  Andrew Bentley<br>
  <a target="_other" href="http://www.gunnarbirkerts.com/">Gunnar Birkerts</a><br>
  Dr. Sammy Bosch<br>
  Helen &amp; Richard Brandt<br>
  Dean Buntrock<br>
  Walter Burke<br>
  Vincent Cafiero<br>
  Walker Cain<br>
  Giovanni Carandente<br>
  Jean Paul Carlhian<br>
  Susan &amp; Jim Carter<br>
  Elisabeth &amp; Kasper Cassani<br>
<!--  Susan &amp; Edward Collins?<br>  -->
  Marylou &amp; Jim Conner<br>
  Jennifer &amp; John Copelin<br>
  Robert De Silva<br>
  Deborah &amp; Jonathan Dawson<br>
  Geoffrey Durno<br>
  William Eggleston<br>
  Bill Farley<br>
  Evelyn & Conner Fay<br>
  Jacob Friedus<br>
  Leonard Fields<br>
  M. Louise & Alfred Friendly<br>
  W. W. Foshay<br>
  <a target="_other" href="http://www.dinogavina.it/">Dino Gavina</a><br>
  Barbara &amp; Peter Godfrey<br>
  Joan &amp; Michael Gray<br>
  Betty Guiberson<br>
  Wanda Hansen<br>
  Sara & Thomas Hacala<br>
  Dorita & Patricio Henry<br>
  Joseph Hirshhorn <br>
  Mary & Tom Hodgeman<br>
  Mimi & Paul Horne<br>
  Judy &amp; Greg Horrigan<br>
  Harry Hunt<br>
  Wanda Hansen<br>
  Peter Hopkinson<br>
  Jacques Kaplan<br>
  Dennis Keegan<br>
  Chris Keesee<br>
  Jill &amp; Tom Klaffky<br>
  <a href="http://www.matthyslevy.com/" target="_other">Matthys Levy</a><br>
  Douglas Lewis <br>
  Klaus J. Maack<br>
  Anton Marguelas<br>
  Pamela &amp; Bill Matassoni<br>
  Richardson McKinney<br>
  Jackie Merrill<br>
  Charles Mitchell<br>
  Richard McKenzie<br>
  Hans Mende<br>
  Nagari <br>
  Gilly & Alberto Nerenberg<br>
  Walter Netsch <br>
  Gyo Obata <br>
  Nathaniel Owings <br>
  Betty Parsons <br>
  I. M. Pei <br>
  Hilary &amp; Andrea Ponti<br>
  John Portman <br>
  <a target="_other" href="http://en.wikipedia.org/wiki/Preston_Haskell">Preston Haskell</a><br>
  Richard Pugh <br>
  <a target="_other" href="http://www.manraytrust.com/">Man Ray</a><br>
  Henny &amp; <a href="http://risom.org/" target="_other">Jens Risom</a><br>
  Cynthia & <a href="http://www.geoffreyrockwell.com/PRportfolio/" target="_other">Peter Rockwell</a><br>
  Lory Roston<br>
  Penelope &amp; Harry Seidler <br>
  Hamilton Smith<br>
  Victoria Starr<br>
  Rufus Stillman<br>
  Mariana Biro Sweet<br>
  Edward D. Stone, Jr.<br>
  Bill Vanderhoet<br>
  Monique &amp; Michel Verhnes<br>
  Richard Waddell<br>
  Eleanor & Theodore Waddell<br>
  James Walton<br>
  Bruce Warwick<br>
  Marisella & Alberto Zanmatti<br>
</p>
</font>
{% endblock %}
