{% extends 'base_bio.html' %}
{% block title %}Contact{% endblock %}
{% block selected %}contact{% endblock %}
{% block contents %}
<div style="width:100%; height:80%; background-color:white; text-align:left;">
<font size="+1"><br>
<center>

{% comment %}
<!-- Begin MailChimp Signup Form -->
<!--[if IE]>
<style type="text/css" media="screen">
  #mc_embed_signup fieldset {position: relative;}
  #mc_embed_signup legend {position: absolute; top: -1em; left: .2em;}
</style>
<![endif]--> 
<!--[if IE 7]>
<style type="text/css" media="screen">
  .mc-field-group {overflow:visible;}
</style>
<![endif]-->

<div id="mc_embed_signup" style="width: 400px;">
<form action="http://charlesperry.us1.list-manage.com/subscribe/post?u=c70bf55e2ee0937696a355299&amp;id=798c1a8712" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" style="font: normal 100% Arial, sans-serif;font-size: 10px;">
  <fieldset style="-moz-border-radius: 4px;border-radius: 4px;-webkit-border-radius: 4px;border: 1px solid #ccc;padding-top: 1.5em;margin: .5em 0;background-color: #fff;color: #000;text-align: left;">
    <legend style="white-space: normal;text-transform: capitalize;font-weight: bold;color: #000;background: #fff;padding: .5em 1em;border: 1px solid #ccc;-moz-border-radius: 4px;border-radius: 4px;-webkit-border-radius: 4px;font-size: 1.2em;"><span>join the mailing list</span></legend>
<div class="indicate-required" style="text-align: right;font-style: italic;overflow: hidden;color: #000;margin: 0 9% 0 0;">* indicates required</div>
<div class="mc-field-group" style="margin: 1.3em 5%;clear: both;overflow: hidden;">
<label for="mce-EMAIL" style="display: block;margin: .3em 0;line-height: 1em;font-weight: bold;">Email Address <strong class="note-required">*</strong>
</label>
<input type="text" value="" name="EMAIL" class="required email" id="mce-EMAIL" style="margin-right: 1.5em;padding: .2em .3em;width: 90%;float: left;z-index: 999;">
</div>
<div class="mc-field-group" style="margin: 1.3em 5%;clear: both;overflow: hidden;">
<label for="mce-FNAME" style="display: block;margin: .3em 0;line-height: 1em;font-weight: bold;">First Name </label>
<input type="text" value="" name="FNAME" class="" id="mce-FNAME" style="margin-right: 1.5em;padding: .2em .3em;width: 90%;float: left;z-index: 999;">
</div>
<div class="mc-field-group" style="margin: 1.3em 5%;clear: both;overflow: hidden;">
<label for="mce-LNAME" style="display: block;margin: .3em 0;line-height: 1em;font-weight: bold;">Last Name </label>
<input type="text" value="" name="LNAME" class="" id="mce-LNAME" style="margin-right: 1.5em;padding: .2em .3em;width: 90%;float: left;z-index: 999;">
</div>
<div class="mc-field-group" style="margin: 1.3em 5%;clear: both;overflow: hidden;">
    <label class="input-group-label" style="display: block;margin: .3em 0;line-height: 1em;font-weight: bold;">Email Format </label>
    <div class="input-group" style="padding: .7em .7em .7em 0;font-size: .9em;margin: 0 0 1em 0;">
    <ul style="margin: 0;padding: 0;"><li style="list-style: none;overflow: hidden;padding: .2em 0;clear: left;display: block;margin: 0;"><input type="radio" value="html" name="EMAILTYPE" id="mce-EMAILTYPE-0" style="margin-right: 2%;padding: .2em .3em;width: auto;float: left;z-index: 999;"><label for="mce-EMAILTYPE-0" style="display: block;margin: .4em 0 0 0;line-height: 1em;font-weight: bold;width: auto;float: left;text-align: left !important;">html</label></li>
<li style="list-style: none;overflow: hidden;padding: .2em 0;clear: left;display: block;margin: 0;"><input type="radio" value="text" name="EMAILTYPE" id="mce-EMAILTYPE-1" style="margin-right: 2%;padding: .2em .3em;width: auto;float: left;z-index: 999;"><label for="mce-EMAILTYPE-1" style="display: block;margin: .4em 0 0 0;line-height: 1em;font-weight: bold;width: auto;float: left;text-align: left !important;">text</label></li>
<li style="list-style: none;overflow: hidden;padding: .2em 0;clear: left;display: block;margin: 0;"><input type="radio" value="mobile" name="EMAILTYPE" id="mce-EMAILTYPE-2" style="margin-right: 2%;padding: .2em .3em;width: auto;float: left;z-index: 999;"><label for="mce-EMAILTYPE-2" style="display: block;margin: .4em 0 0 0;line-height: 1em;font-weight: bold;width: auto;float: left;text-align: left !important;">mobile</label></li>
</ul>
    </div>
</div>
<div id="mce-responses" style="float: left;top: -1.4em;padding: 0em .5em 0em .5em;overflow: hidden;width: 90%;margin: 0 5%;clear: both;">
  <div class="response" id="mce-error-response" style="display: none;margin: 1em 0;padding: 1em .5em .5em 0;font-weight: bold;float: left;top: -1.5em;z-index: 1;width: 80%;background: FBE3E4;color: #D12F19;"></div>
  <div class="response" id="mce-success-response" style="display: none;margin: 1em 0;padding: 1em .5em .5em 0;font-weight: bold;float: left;top: -1.5em;z-index: 1;width: 80%;background: #E3FBE4;color: #529214;"></div>
  </div>
<div><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn" style="clear: both;width: auto;display: block;margin: 1em 0 1em 5%;"></div>
  </fieldset>
  <a href="#" id="mc_embed_close" class="mc_embed_close" style="display: none;">Close</a>
</form>
</div>
<script type="text/javascript">
var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email'
                } else {
                    $('#mce-'+resp.result+'-response').show();
                    $('#mce-'+resp.result+'-response').html(msg);
                }
            }
        } catch(e){
            $('#mce-'+resp.result+'-response').show();
            $('#mce-'+resp.result+'-response').html(msg);
        }
    }
}

</script>
<!--End mc_embed_signup-->
{% endcomment %}

<form action="/bio/subscribe" method="post">
<table>
  <tr><td colspan=3>To receive infrequent updates by email<br>you can provide your email here:<br></td></tr>
  <tr><td colspan=3>{{ form.non_field_errors }}</td></tr>
  <tr><td><div class="fieldWrapper"><label for="id_subject">Name:</label></td>
      <td>{{ form.name }}</td><td>{{ form.name.errors }}</td></div>
  </tr>
  <tr><td><div class="fieldWrapper"><label for="id_sender">Email:</label></td>
      <td>{{ form.email }}</td><td>{{ form.email.errors }}</td></div>
  </tr>
  <tr><td></td><td><input type="submit" value="Submit" /></td></tr>
</table>
<input type=hidden name="ftype" value="subscription">
</form>

<br>

You can reach us via email at<br>
<a href="mailto:info@charlesperry.com?cc=sheilahperry@gmail.com">info@charlesperry.com</a>
<br><br><br><br><br><br>

<!--
<br>or fill the form below:<br><br>

<form action="/bio/contact/" method="post">
<table>
{{ form.as_table }}
</table>
<input type=hidden name=ftype value="full">
<input type="submit" value="Send Message" />
</form>
<br>
</font>
</center>
</div>
{% endblock %}

{% comment %}
<form action="/bio/contact" method="post">
<table>
  <tr><td colspan=2>{{ form.non_field_errors }}</td></tr>
  <tr><div class="fieldWrapper">
    <td><label for="id_subject">Name:</label></td>
    <td>{{ form.subject }}</td><td>{{ form.subject.errors }}</td></div>
  </tr>
  <tr><div class="fieldWrapper">
      <td><label for="id_sender">Email:</label></td>
      <td>{{ form.sender }}</td><td>{{ form.sender.errors }}</td></div>
  </tr>
  <tr><div class="fieldWrapper">
      <td><label for="id_subject">Subject:</label></td>
      <td>{{ form.subject }}</td><td>{{ form.subject.errors }}</td></div>
  <tr><div class="fieldWrapper">
      <td><label for="id_message">Message:</label></td>
      <td>{{ form.message }}</td><td>{{ form.message.errors }}</td></div>
  </tr>
  <tr><div class="fieldWrapper">
      <td><label for="id_cc_myself">CC yourself?</label></td>
      <td>{{ form.cc_myself }}</td><td>{{ form.cc_myself.errors }}</td></div>
  </tr>
  <tr><td></td><td><p><input type="submit" value="Send Message" /></td></tr>
</table>
</form>
-->


{% endcomment %}
