{% extends 'base.html' %}
{% block sidebar %}{% endblock %}
{% block contents %}
{% comment %}
<div style="width:100%; height: 30px;"></div>
<div id="header"> 
<!--    <h1><a href="http://www.charlesperry.com">Charles O. Perry</a></h1> -->
    <h1><a href="/"><b>Charles O. Perry</b></a></h1> 
    <ul> 
      <li><a href="/sculpture/">SCULPTURE</a></li> 
      <li><a href="/chairs/">CHAIRS</a></li> 
      <li><a href="/jewelry/">JEWELRY</a></li> 
      <li><a href="/puzzles/">PUZZLES</a></li> 
      <li><a href="/bio/bio.html">ABOUT</a></li> 
    </ul> 
</div>
{% endcomment %}
</div>
<div style="color:white; float: left; margin-left:20px;">
<br>
<a href="/sculpture/"><img src="/media/thumb/charles-o-perry.jpg"
alt='Artist and Sculptor Charles O. Perry'></a>
</div>

<div style="color:white; width:260px; float:left; margin-left:20px; text-align:left;"><br><br>
<h3>The Charles O. Perry Fund</h3>(FAAR’66, RAAR’71)

<p>This fund is in memory of American sculptor, architect and designer
Charles Perry. In 1964 Charlie won the Rome Prize in Architecture at
the <a style="color:yellow; text-decoration: underline;"
href="http://aarome.org/membership-and-giving.php#ways26"
target="_donate">American Academy in Rome</a>, writing “…I want to
gain greater perspective, the perspective of other places, other
times, philosophies, cultures and economics…Architecture is not
written, it is built; not a picture, an environment. I want to draw
from the knowledge of Europe, to do so I must be there, see it, smell
it, hear it, live it…”</p>

<p>And so he did in what proved to be a pivotal point in his life and
career. At the Academy, he began to pursue seriously his sculpture
career which consisted of more than 100 works created over 45
years.</p>

<p>The Charles O. Perry Fund will help provide this opportunity for other
artists with similar determination, intelligence and grace.</p>

<p><a style="color:yellow; text-decoration: underline;"
href="https://dnbweb1.blackbaud.com/OPXDONATE/donate.asp?cguid=26EA9A47%2DB4CC%2D48A0%2D94CF%2DB582492BE8E4&dpid=24822"
target="_donate">Make a Donation Online</a> <br>to
the <a style="color:yellow; text-decoration: underline;"
href="http://aarome.org/membership-and-giving.php#ways26"
target="_donate">American Academy in Rome</a>
<br>or <a style="color:yellow; text-decoration: underline;"
href="http://aarome.org/files/uploads/1297460119.pdf"
target="_donate">Download PDF to donate by mail</a>
</p>
</div>
{% endblock contents %}
