{% extends 'base_bio.html' %}
{% block bgcolor %}#ffffff{% endblock %}
{% block title %}Lectures{% endblock %}
{% block sideselected %}lectures{% endblock %}
{% block content %}
  <h1>LECTURES</h1>
  <font size="2">
  Art &amp; Mathematics, Venice, Italy, 2002 <br>
  Art & Mathematics, Cooper Union, New York, New York 2000<br>
  Mathematics and Culture, Bologna, Italy 2000<br>
  Colloque Mathematiques et Arts, Maubeuge, France 2000<br>
  Wenner-Gren Foundation, Stockholm, Sweden 2000<br>
  University of California, Berkeley, CA 1998 <br>
  Southwestern College, Winfield, Kansas 1998 <br>
  University of the Basque Country, San Sebastian, Spain 1998<br>
  Smithsonian Institution, Washington, DC 1996<br>
  The Century Association, New York City, NY 1995<br>
  American Association for the Advancement of Science, San Francisco 1994 <br>
  SUNY, Albany, NY 1993 <br>
  Yale University, New Haven, CT 1993 <br>
  Silvermine Guild, New Canaan, 1993 <br>
  SUNY, Albany, NY 1992 <br>
  Lecture tour, (six cities) Australia, 1992<br>
  Scripps College, Claremont, CA 1991 <br>
  Cummer Gallery of Art, Jacksonville, FL 1990<br>
  State University of New York, Stonybrook, NY 1989 <br>
  New Canaan Library, New Canaan, CT1989 <br>
  Rhode Island College, RI, 1988 <br>
  Yale University, New Haven, CT (architectural jury) 1986<br>
  Silvermine Guild for Arts, New Canaan, 1986 <br>
  Katonah Gallery, Katonah, N.Y., 1985 <br>
  Westport Center of Arts,Westport, CT, 1985<br>
  Darien Library, Darien, CT, 1984 <br>
  Stamford Library, Stamford, CT, 1983 <br>
  The New School, New York City, NY, 1982 <br>
  Boston Visual Artists Union, Boston, MA, 1981<br>
  Columbia University, New York City, NY, 1981<br>
  Hunter College, New York City, NY, 1981<br>
  Yale University, New Haven, CT (architectural jury) 1981 <br>
<br><br><br>
</font>
{% endblock %}
