{% extends 'base_bio.html' %}
{% block bgcolor %}#ffffff{% endblock %}
{% block title %}Links{% endblock %}
{% block sideselected %}links{% endblock %}
{% block content %}

<h1>LINKS</h1>
<font size="2">
<p><a target="_other" href="http://en.wikipedia.org/wiki/Charles_O._Perry">Wikipedia: Charles O. Perry</a></p>
<p><a target="_other" href="http://mathworld.wolfram.com/Dodecahedron.html">Wolfram MathWorld - Dodecahedron</a></p>
<p><a target="_other" href="http://books.google.com/books?id=v7PpAAAAMAAJ&q=%22Charles+O.+Perry%22&dq=%22Charles+O.+Perry%22&hl=en&ei=iuWETL6ALsaAlAfXprWfDw&sa=X&oi=book_result&ct=result&resnum=6&ved=0CD4Q6AEwBQ">Fragments of Infinity: a Kaleidoscope of Math and Art</a>, Ivars Peterson, Wiley, 2001.</p>
<p><a target="_other" href="http://books.google.com/books?id=5dTuAAAAMAAJ&q=%22Charles+O.+Perry%22&dq=%22Charles+O.+Perry%22&hl=en&ei=79WETKrdOcT_lgfXoenODw&sa=X&oi=book_result&ct=result&resnum=60&ved=0CLQCEOgBMDs">Shaping Space: a Polyhedral Approach</a>. Marjorie Senechal, George M. Fleck Birkhäuser, 1988 pp. 32 Fig .1-67</p>
<p><a target="_other" href="http://books.google.com/books?id=PHdQAAAAMAAJ&q=%22Charles+O.+Perry%22&dq=%22Charles+O.+Perry%22&hl=en&ei=79WETKrdOcT_lgfXoenODw&sa=X&oi=book_result&ct=result&resnum=69&ved=0CNkCEOgBMEQ">Outdoor Sculpture: Object and Environment</a> Margaret A. Robinette Whitney Library of Design, 1976 pp. 52 pp. 70 </p>
<p><a target="_other" href="http://books.google.com/books?id=vU7vAAAAMAAJ&q=%22Charles+O.+Perry%22&dq=%22Charles+O.+Perry%22&hl=en&ei=79WETKrdOcT_lgfXoenODw&sa=X&oi=book_result&ct=result&resnum=74&ved=0CO0CEOgBMEk">Math and art: an introduction to visual mathematics</a>, Sasho Kalajdzievski CRC Press, 2008
<p>Carlo H. Séquin, <a target="_other" href="http://www.cs.berkeley.edu/~sequin/PAPERS/2009_Bridges_TubularSculptures.pdf">Tubular Sculptures</a>, Computer Science Division, University of California, Berkeley, CA</p>
<p><a target="_other" href="http://pages.towson.edu/gsarhang/67%20-%2074.pdf">A Proposal for the Classification of Mathematical Sculpture</a>, Ricardo Zalaya Báez Department of Applied Mathematics</p>
<p><a target="_other" href="http://www.mi.sanu.ac.rs/vismath/barrallo1/index.html">Classification of Mathematical Sculpture</a>, Ricardo Zalaya  &  Javier Barrallo <p>
<p>The Mathematical Tourist <a target="_other" href="http://mathtourist.blogspot.com/2010/05/mobius-continuum.html">Möbius Continuum</a> Ivars Peterson.</p>
<p>Nathaniel A. Friedman, <a target="_other" href="http://vismath7.tripod.com/nat/">Hyperseeing, Hypersculptures, Knots, and Minimal Surfaces </a></p>
<p><a target="_other" href="http://www.cs.berkeley.edu/~sequin/PAPERS/2010_JMA_Hamlin_Tubular.pdf">Computer Generation of Ribbed Sculptures</a>, James Hamlin and Carlo H. Séquin, CS Division, University of California, Berkeley.</p>
<p><a target="_other" href="http://www.cadanda.com/CAD_6_6__749-758.pdf">Ribbed Surfaces for Art, Architecture and Visualization</a>, James F. Hamlin and Carlo H. Séquin</p>
<p><a target="_other" href="http://www.ams.org/notices/200209/rev-phillips.pdf">Fragments of Infinity, A Kaleidoscope of Math and Art</a> Reviewed by Anthony Phillips.
<p><a target="_other" href="http://www.ogle.com/articles/Sequin-Collins.pdf">Variations on Perfection: TheSequin-Collins Sculpture Generator</a>
<p>George W. Hart, <a target="_other" href="http://www.georgehart.com/orderly-tangles-revisited/tangles.htm">Orderly Tangles Revisited</a>, in Proceedings of Renaissance Banff: Bridges + Coxeter Day, Banff, Alberta, July 31-August 3, 2005</p>
<p><a target="_other" href="http://www.iit.edu/~krawczyk/jtbrdg03.pdf">Möbius Concepts in Architecture</a>, Jolly Thulaseedas and Robert J Krawczyk College of Architecture Illinois Institute of Technology.</p>
<p><a target="_other" href="http://atlas-conferences.com/cgi-bin/calendar/d/faae49">The Second Annual Conference of Bridges: Mathematical Connections in Art, Music, and Science</a>, July 30 - August 1, 1999</p>
<p><a target="_other" href="http://www.math.binghamton.edu/alex/KnotArtConf.html">Knot Art Conference<a> - Tampa, FL, Nov. 1 - 4, 2007</p>
<p><a target="_other" href="http://www.sc.ehu.es/mathema1/md98.htm"Mathematics and Design 1998</p>
<p>Al Nath <a href="http://astro.u-strasbg.fr/~heck/perry.pdf">L'éclipse de Perry</a>, Orion 57/5 (1999) 22</p>
<p><a target="_other" href="http://www.ruksliving.com/designers.aspx">Modern Furniture & Contemporary Design Classics</a>.</p>
<p><a target="_other" href="http://www.myonlinetour.com/poi/marinasculptures/guide.pdf">Sculptures at Marina Square, Singapore</a>.</p>
<p><a target="_other" href="http://books.google.com/books?id=NgEAMI9BjkYC&pg=PA160&lpg=PA160&dq=charles+perry+equinox&source=bl&ots=a-St6HBmmA&sig=y2RPUwtPjujxy0UcEs1KzS2UF_8&hl=en&ei=-Bh9TKKrNcH-8AbY5LzjBg&sa=X&oi=book_result&ct=result&resnum=6&ved=0CC4Q6AEwBQ#v=onepage&q=charles%20perry%20equinox&f=false">A comprehensive guide to outdoor sculpture in Texas</a> By Carol Morris Little pp. 160</p>
<p><a target="_other" href="http://europe.ki.com/pdf/charliesperry.pdf">Sum of the Arts - Charles Perry Profile</a>.</p>
<p><a target="_other" href="http://www.startseeingart.com/category/artist/charles-o-perry/">Start Seeing Art - A guide to Art in the Twin Cities</a>.</p>
<p><a target="_other" href="http://www.embarcaderocenter.com/ec/attractions/sculpture_tour.html">Embarcadero Center Public Art Collection</a>.</p>
<p><a href="http://books.google.com/books?id=aGN3vXcZl74C&pg=PA212&lpg=PA212#v=onepage&q&f=false">Art in the San Francisco Bay area, 1945-1980: an illustrated history</a> By Thomas Albright</p>
</font>
<br/><br/><br/><br/>
{% endblock %}
