{% extends 'base_bio.html' %}
{% block bgcolor %}#ffffff{% endblock %}
{% block title %}Patents{% endblock %}
{% block sideselected %}patents{% endblock %}
{% block content %}
<h1><a target="_other" href="http://www.google.com/patents?q=%22Charles+O.+Perry%22&btnG=Search+Patents">PATENTS<a/></h1>
<font size="2">
<p><a target="_other" href="http://www.google.com/patents/about?id=b2iqAAAAEBAJ">7384100</a>, Jun 10, 2008, Flexible reclining chair.</p>
<p><a target="_other" href="http://www.google.com/patents/about?id=GaUFAAAAEBAJ">6224159</a>, May 1, 2001, Flexible chair which can be disassembled to a flat configuration.</p>
<p><a target="_other" href="http://www.google.com/patents/about?id=81MFAAAAEBAJ">6120097</a>, Sep 19, 2000, Flexible chair with adjustable support frame.</p>
<p><a target="_other" href="http://www.google.com/patents/about?id=80gdAAAAEBAJ">5626394</a>, May 6, 1997, Tubular chair frame. </p>
<p><a target="_other" href="http://www.google.com/patents/about?id=UNsBAAAAEBAJ">5383712</a>, Jan 24, 1995, Flexible chair.</p>
<p><a target="_other" href="http://www.google.com/patents/about?id=Mx4cAAAAEBAJ">5009466</a>, Apr 23, 1991, Reclining chair.</p>
<p><a target="_other" href="http://www.google.com/patents/about?id=r0wBAAAAEBAJ">3611620</a>, Oct 1971, RHOMBIC HEXAHEDRA BLOCKS FOR MAKING RHOMBIC DODECAHEDRA AND RHOMBIC TRIACONTAHEDRA.</p>
<p><a target="_other" href="http://www.google.com/patents/about?id=LDpdAAAAEBAJ">3413752</a>, Dec 1968, BODY HAVING A SNAP-TYPE FASTENER.</p></p>
<p><a target="_other" href="http://www.google.com/patents/about?id=6RiTAAAAEBAJ">11/036,543, US 2005/0194823 A1</a>, Filing date: Jan 14, 2005, Flexible chair with post base.</p>
</font>
{% endblock %}
