{% extends 'base_bio.html' %}
{% block bgcolor %}#ffffff{% endblock %}
{% block title %}Articles{% endblock %}
{% block sideselected %}articles{% endblock %}
{% block content %}
<h2>Press:</h2>
<font size="2">
<p>New York Times: <a href="http://www.nytimes.com/1995/03/26/nyregion/to-the-builder-of-a-megamall-art-and-history-sell.html?pagewanted=all" target="_other">To the Builder of a Megamall, Art and History Sell.</a> By ROBERTA HERSHENSON, March 26, 1995
<p>New York Times: <a href="http://www.nytimes.com/1998/02/27/arts/art-review-making-public-sculpture-how-a-vision-finds-form.html?pagewanted=all" target="_other">ART REVIEW; Making Public Sculpture: How a Vision Finds Form</a>. By GRACE GLUECK, February 27, 1998
<p>New York Times: <a href="http://www.nytimes.com/2000/11/19/nyregion/slip-into-something-more-artistic.html?pagewanted=all" target="_other">Slip Into Something More Artistic</s> . By BESS LIEBENSON, November 19, 2000
<p>New York Times: <a href="http://query.nytimes.com/gst/fullpage.html?res=9A04E1D81130F932A1575BC0A9639C8B63" target="_other">In the Woods, Monuments of Steel</a> By BENJAMIN GENOCCHIO, August 21, 2005
<p>Charles O. Perry in <a href="http://books.google.com/books?id=OAgvHQAACAAJ" target="_other">Visualizing Higher Dimensions</a>: Flatland 1884, Hypergraphics 1984 : hypergraphics exhibition, Woods Gerry Gallery, Rhode Island School of Design, October 4-14, 1984 : symposium, Brown University, October 11-13, 1984 
<p><a href="http://books.google.com/books?id=5GBTAAAAMAAJ" target="_other">Charles O. Perry</a> deCesare Design Associates, 1987 
