{% extends 'base_bio.html' %}
{% block bgcolor %}#ffffff{% endblock %}
{% block title %}Publications{% endblock %}
{% block sideselected %}publications{% endblock %}
{% block content %}
<h2>BOOKS</h2>
<font size="2">
<p>Charles Owen Perry, deCesare Design Associates, 1987 - 64 Pages. <a href="http://www.amazon.com/Charles-Perry-Owen/dp/B00072471O/" target="_other">Amazon</a> - <a href="http://books.google.com/books?id=5GBTAAAAMAAJ" target="_other">Google</a></p>
<p>"Charles O. Perry: SPACE" 1977 - 44 Pages. <a href="http://www.amazon.com/Charles-Perry-space/dp/B0007AY9DC/" target="_other">Amazon</a> - <a href="http://books.google.com/books?id=yelmHQAACAAJ" target="_other">Google</a></p>
<p>Jaffe-Friede Gallery, "Charles O. Perry: Artist in Residence" 1973 - 16 Pages. <a href="http://www.amazon.com/Charles-Perry-Artist-Residence/dp/B001ECX2KI/" target="_other">Amazon</a> - <a href="http://books.google.com/books?id=DG9DPQAACAAJ" target="_other">Google</a></p>


<h2>ARTICLES</h2>
<font size="2">
<p>Charles Perry, The Ribbed Sculptures, in <a href="http://www.g4g8.com/" target="_other">Gathering 4 Gardner (G4G8)</a>, Atlanta Georgia, USA, 2008 pp. 26<p>
<p>Charles O. Perry, God is Everywhere. in <a target="_other" href="http://books.google.com/books?id=JKynT5lRdSgC&pg=PP17&dq=%22Charles+O.+Perry%22&hl=en&ei=79WETKrdOcT_lgfXoenODw&sa=X&oi=book_result&ct=result&resnum=19&ved=0CHkQ6AEwEg#v=onepage&q=%22Charles%20O.%20Perry%22&f=false">Mathematics, Art, Technology, and Cinema</a>. By Michele Emmer, Mirella Manaresi, Springer, 2003 pp. 1</p>
<p>Charles O. Perry, <a href="http://books.google.com/books?id=5kbP664SfyoC&pg=PA89&dq=%22Charles+O.+Perry%22&hl=en&ei=79WETKrdOcT_lgfXoenODw&sa=X&oi=book_result&ct=result&resnum=20&ved=0CH8Q6AEwEw#v=onepage&q=%22Charles%20O.%20Perry%22&f=false">The Garden of Eden</a>. Mathematics and art: mathematical visualization in art and education By Claude Paul Bruter Springer, 2002 pp. 89</p>
<p>Charles O. Perry, Symmetrical Sculpture. in <a target="_other" href="http://books.google.com/books?id=PAUvAQAAIAAJ&q=%22Charles+O.+Perry%22&dq=%22Charles+O.+Perry%22&hl=en&ei=Cd6ETOScG4PGlQfGp_iKDw&sa=X&oi=book_result&ct=result&resnum=15&ved=0CFoQ6AEwDjhk">Symmetry 2000: Proceedings from a symposium held at the Wenner-Gren Centre, Stockholm, in September 2000, Part 1</a> Portland Press, 2002 pp. 543 </p>
<p>Charles O. Perry, <a target="_other" href="http://www.mi.sanu.ac.rs/vismath/perry/p16.htm">Continuum, Broken Symmetry, and More.</a> In <a target="_other" href="http://www.sckans.edu/~bridges/">Bridges: Mathematical Connections in Art, Music, and Science Conference Proceedings</a>, R. Sarhangi, ed. 1998.</p>
<p>Charles O. Perry, <a target="_other" href="http://nyjm.albany.edu:8000/am/1997/Perry.pdf">Morphology to Sculpture</a>, <a target="_other" href="http://nyjm.albany.edu:8000/am/">Art and Mathematics Conference</a>, <a target="_other" href="http://www.ylem.org/">ylem</a> Nov/Dec 1997.</p>
<p>Charles O. Perry, On the edge of science: The role of the artist's intuition in science. In <a target="_other" href="http://mitpress.mit.edu/catalog/item/default.asp?ttype=2&tid=8131">The Visual Mind: Art and Mathematics</a>, pp. 31-34, M. Emmer, ed. Cambridge, Mass.: MIT Press, 1993.</p>
<p>Charles O. Perry, <a target="_other" href="http://www.jstor.org/pss/1575845">On the Edge of Science: The Role of the Artist's Intuition in Science</a>, in <a target="_other" href="http://www.leonardo.info/leoinfo.html">Leonardo</a> Journal Vol. 25, No. 3/4, Visual Mathematics, pp. 249-252 The MIT Press, 1992.</p>
</font>
<h2>PUBLICATIONS</h2>
Who's Who in Art <br/>
Who's Who in America <br/>
Ars Symmetrica, Budapest, Hungary 1999<br/>
Mathematics &amp; Design, San Sebastian, Spain, 1998<br/>
Bridges, Winfield, Kansas 1998<br/>
El Observador Economico (Montevideo, Uruguay) 1993 <br/>
Leonardo (Vol. 25) 1992 <br/>
Designer Dialect (Melbourne, Australia) 1992<br/>
The Advocate (Stamford, CT) 1992 <br/>
Time Magazine, 1991<br/>
Fortune Magazine, 1991<br/>
New York Times, 1991 <br/>
Wall Street Journal, 1991 <br/>
Interiors, 1991 <br/>
Contract Magazine, 1991<br/>
Popular Science, 1991 <br/>
Architecture, 1990 <br/>
Northeast Magazine/Hartford Courant, 1986, 1987, 1988, 1989<br/>
The New York Art Review (Third Edition) 1988<br/>
Shaping Space, Boston, MA 1988<br/>
Coin World, 1987<br/>
FDQ Design South (Orlando, FL), 1986<br/>
Connecticut Country Life, 1985<br/>
Fortune Magazine, April 1981<br/>
Fairfield County Magazine, January 1980<br/>
Outdoor Sculpture by M. Robinette, 1976<br/>
GA (Global Architecture magazine) #28<br/>
Form follows Fiasco by Peter Blake<br/>
AIA Journal, October 1977<br/>
Architecture Plus, July 1973<br/>
Architectural Forum, April 1972<br/>

<br/><br/><br/><br/>
{% endblock %}

