{% extends 'base_bio.html' %}
{% block bgcolor %}#ffffff{% endblock %}
{% block title %}Reviews{% endblock %}
{% block sideselected %}reviews{% endblock %}
{% block content %}
<h1>VARIOUS REVIEWS IN</h1>
<p><font size="2">The New York Times <br>
    Boston Globe <br>
    Christian Science Monitor <br>
    The Advocate (Stamford, CT) <br>
    Il Messagero (Rome, Italy)<br>
    New Canaan Advertiser <br>
    The Hour (Norwalk, CT) <br>
    The Norwalk News <br>
    San Francisco Chronicle <br>
    Rome Daily American <br>
    and others<br>
</font></p>
<h1>REVIEWS</h1>
<p> The Palm Beach Post, 1988 <br>
    Spotlight, 1987 <br>
    Art & Environment, 1987 <br>
    Coin World, 1987 <br>
    The Sunday Times, Singapore, 1986 <br>
    Arts & Entertainment, Hartford Courant, 1986 <br>
    Arts News/Art Council, Tampa, FL, 1986 <br>
    Tampa Tribune, Tampa, FL, 1986 <br>
    Westport News, Westport, CT, 1985 <br>
    Aiken Standard, Aiken, SC, 1984 <br>
    Knoxville News-Sentinel, TN, 1984<br>
</font></p>
{% endblock %}
