{% extends 'base_bio.html' %}
{% block bgcolor %}#ffffff{% endblock %}
{% block title %}Shows{% endblock %}
{% block sideselected %}shows{% endblock %}
{% block content %}
<h1>SHOWS</h1>
<h3>One-Man Shows:</h3>
<font size="2">
  Boston, MA <br/>
  Chicago, IL <br/>
  Hanover, NH <br/>
  Jacksonville, FL <br/>
  London, Great Britain <br/>
  New York City, NY <br/>
  Rome, Italy <br/>
  <a target="_other" href="http://www.isama.org/conf/isama00/perry/">Saint Gaudens Museum, Cornish, NH</a><br/>
  San Francisco, CA <br/>
  Torino, Italy<br/>
  Westport, CT <br/>
</font>
</p>
<h3>Participated in many group shows in museums and galleries internationally, including:</h3>
<font size="2">
  2005 - National Academy of Design, New York City, NY<br/>
  2005 - The Century Association, New York City, NY<br/>
  2000 - The Cooper Union, New York City, NY<br/>
  2000 - The Century Association, New York City, NY<br/>
  2000 - The Flinn Gallery, Greenwich, CT<br/>
  1998 - The Century Association, New York City, NY<br/>
  1994 - National Academy of Design, New York City, NY <br/>
  1992 - National Academy of Design, New York City, NY <br/>
  1990 - New Canaan Library, New Canaan, CT<br/>
  1989 - Katonah Gallery, Katonah, NY<br/>
  1989 - The Century Association, New York City, NY <br/>
  1988 - Hunter College, New York City, NY <br/>
  1988 - Dartmouth College, Hanover, NH <br/>
  1988 - The Century Association, New York City, NY <br/>
  1988 - National Academy of Design, New York City, NY <br/>
  1987 - Hypergraphics International VIII, Rhode Island <br/>
  1987 - Sculpture as Public Art, ISC, Washington, DC <br/>
  1986 - Katonah Gallery, Katonah, NY <br/>
  1985 - The Century Association, New York City, NY <br/>
  1984 - Sculptors&#146; Guild, Lever House, New York City, NY <br/>
  1979 - Jewelry Collection at Tiffany&#146;s, New York City, NY <br/>
  1977 - Quadriennale d&#146;Arte di Roma, Italy <br/>
  1970 - Venice Art Biennale, Italy <br/>
  1969 - The Jewish Museum, New York City, NY <br/>
  1968 - Festival of the Two Worlds, Spoleto, Italy <br/>
  1966 - Whitney Museum Annual, New York City, NY <br/>
  1966 - American Academy in Rome, Italy <br/>
  1964 - Whitney Museum Annual, New York City, NY <br/>
  1964 - American Academy in Rome, Italy <br/>
</font>
</p>
<p><h3>Photography Shows of commissioned work:</h3>
  <font size="2">
    1985 - Katonah Gallery, NY<br/>
    1985 - Westport Center of Arts, CT <br/>
    1985 - The Century Association, New York City, NY<br/>
    1985 - Darien Library, CT<br/>
    1985 - Dartmouth College, Hanover,NH <br/>
    1984 - Adelle M Gallery, Dallas, TX <br/>
  </font> 
</p>
<br/><br/>
{% endblock %}
