/* -------- Body -------- */ 
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 12px;
  text-align: center; /* IE Hack */
}

/* -------- All -------- */ 

a {
  text-decoration:none;
  border-width: 0;  
}

a img {
  text-decoration:none;
  border-width: 0;  
}

a:link {color: blue;}
a:visited {color:blue;}
a:hover {color:#CC000000;}
a:active {color:#CC0000;} 

td {
    font-family:Verdana, Arial, Helvetica, sans-serif;
#    color:white;
}

items.td {
    font-family:Verdana, Arial, Helvetica, sans-serif;
#    color:white;
}

/* -------- Header -------- */ 

#header {
    background-color: #fff;
    height: 42px;
    z-index: 10;
}

#header h1 {
  float: left;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

#header div {
  margin: 0 auto;
}

#header a {
  height: 42px;
  padding: 0 9px;
  display: table-cell;
  color: #000;
  background-color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
}


#header a:hover {
  color: #CC0000;
}


#header ul {
  margin: 0;
  padding: 0;
  z-index: 10;
  list-style-type: none;
}

#header li {
  float: left;
}


.sculpture #sculpture, 
.chairs #chairs,
.jewelry #jewelry, 
.puzzles #puzzles, 
.about #about, 
.contact  #contact  {
  background-color: #aaa;
}
/* -------- Menu -------- */ 

#menu {
  background-color: #aaa;
  overflow: hidden;
}

#menu a {
  padding: 9px 5px 9px 5px;
  color: #fff;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  background-color: #aaa;
}

#menu a:hover {
    color: #CC0000;
}

#menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
/*  display: table; */
/*  margin: 0 auto; */
}

#menu li {
  float: left; 
}

{% comment %}
[if IE] #menu {
  display: block; 
  margin: 0;
/*  texit-align: center; */
}

[if IE] #menu ul {
  display: inline;
  zoom: 1;
}
{% endcomment %}

.style #style,
.material #material,
.listing #listing,
.location #location {
  background-color: #000;
}

.ribbed #ribbed,
.planar #planar,
.topological #topological,
.solid #solid {
  background-color: #aaa;
}

.aluminum #aluminum,
.bronze #bronze,
.steel #steel,
.stainlesssteel #stainlesssteel,
.mother #mother {
  background-color: #aaa;
}

.ball #ball,
.plexi #plexi,
.zen #zen,
.sasso #sasso,
.double #double,
.chessset #chessset,
.cubechessset #cubechessset,
.dada #dada {
  background-color: #000;
}

.pendants #pendants,
.earrings #earrings,
.pins #pins,
.other #other {
  background-color: #000;
}

.perry #perry,
.uno #uno,
.virtuoso #virtuoso {
  background-color: #000;
}

.bio #bio,
.shows #shows,
.collections #collections,
.reviews #reviews,
.awards #awards,
.lectures #lectures,
.publications #publications,
.patents #patents,
.links #links {
  background-color: #fff;
  color: #000;
}

/* -------- SubMenu -------- */


#submenu {
    width: 600px;
    margin-left: auto ;
    margin-right: auto ;
    height:30px;
    clear: both;
}

#submenu div {
    width: 100%;
}

#submenu ul {
    margin: 0; 
    padding: 0;
    list-style-type: none;
    font-family: verdana, arial, sanf-serif;
    font-size: 12px;
    font-weight: normal;
}

#submenu li {
    margin: 0px 0 0;
    float: left;
}

#submenu a {
  display: table-cell;
/*    display: block; */
    width:100px;
    height: 22px;
    vertical-align: middle;
    padding: 0px 0px 0px 10px;
    border: 1px solid #999999;
    background: #000000;
    text-decoration: none; /* remove the link underlines*/
}

#submenu a:link, #submenu a:active, #submenu a:visited {
    color: #ffffff;
}

#submenu a:hover {
/*    border: 1px solid #000000; */
/*    background: #999999; */
    color: #CC0000;
}


/* -------- Content -------- */

#contents {
  margin-bottom: 64px;
  overflow: hidden;
  clear: both;
  padding:20px;
} 

/* -------- Left Menu -------- */ 

#list-menu {
width: 132px; 
}

#list-menu ul {
margin: 0; 
padding: 0;
list-style-type: none;
font-family: verdana, arial, sanf-serif;
font-size: 11px;
#font-weight: bold;
}

#list-menu li {
margin: 0px 0 0;
}

#list-menu a {
display: block;
width:140px;
padding: 0px 0px 0px 10px;
border: 1px solid #999999;
background: #000000;
text-decoration: none; /* remove the link underlines*/
}

#list-menu a:link, #list-menu a:active, #list-menu a:visited {
color: #ffffcc;
}

#list-menu a:hover {
border: 1px solid #000000;
background: #999999;
color: #ffffcc;
}

/* -------- Photos -------- */ 

.photos ul {
  clear: both;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.photos li {
  float: left;
/*  margin: 0 8px 16px 8px; */
  margin: 1px;
}
  
.photos img, img.photo {
/*  border: 1px solid #000 ;  */
  padding: 5px;
}

.photos a img:hover, img.photo:hover {
  background-color: #c00;
}

/* -------- Sortable Table -------- */ 

table.sortable
{
border:1px solid black;
border-collapse:collapse;
}

table.sortable th
{
background-color:#990000;
color:white;
border:1px solid black;
padding:3px;
vertical-align:top;
font-size:14px;
}

table.sortable td 
{
background-color:#fff;
border:1px solid black;
padding:3px;
vertical-align:top;
text-align: left;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}

/* -------- Footer -------- */ 

#footer {
    clear: both;
    padding: 8px 0;
    text-align: center;
    font-size: 10px;
    font-family: verdana, arial, sanf-serif;
    color: #333;
    position: fixed;
    bottom: 0px;
    width: 100%;
    vertical-align: middle;
}

#footer:hover {
    background-color: #FFF;
}

#footer a {
    color: #333;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
}

/* -------- End -------- */ 