{% extends 'base_puzzles.html' %}
{% block sideselected %}cubechessset{% endblock %}
{% block contents %}
<center>
<table width="488" height="245" cellspacing="0" cellpadding="0">
<tr valign="top" align="left">
  <td colspan="4" height="10"><b><font size="1" color="#FFFFFF">Click image to view</font></b></td>
</tr>
<tr valign="top" align="left"> 
  <td width="116" height="100"> 
    <a href="ChessCube1.html"><img border="4" src="/media/puzzles/ChessCube1.jpg" width="109" height="76" border="0"></a><br>
    <font size="1" color="#FFFFFF"><b>Cube Chess Set</b></font>
  </td>
  <td width="113" height="100"> 
    <a href="ChessCube2.html"><img border="4" src="/media/puzzles/ChessCube2.jpg" width="110" height="73" border="0"></a>
  </td>
  <td width="113" height="100"> 
    <a href="ChessCube3.html"><img border="4" src="/media/puzzles/ChessCube3.jpg" width="110" height="73" border="0"></a>
  </td>
  <td width="122" height="100"> 
    <a href="ChessCube4.html"><img border="4" src="/media/puzzles/ChessCube4.jpg" width="110" height="73" border="0"></a>
  </td>
</tr>
</table>
</center>
{% endblock %}
