{% extends 'base_chairs.html' %}
{% block contents %}
<center>
<table class="photos" cellpadding="5px">
  <tr>
    <td width="150">
      <a onClick="if(this.blur)this.blur()" href="perry"><img src="/media/chairs/P.gif" width="150" height="150"></a><font color="#CC0000" size="-1">&nbsp;<b>PERRY®</b></font>
    </td>
    <td width="150"> 
      <a onClick="if(this.blur)this.blur()" href="uno"><img src="/media/chairs/U.gif" width="150" height="150"></a><font color="#CC0000" size="-1">&nbsp;<b>uno™</b></font>
    </td>
    <td width="150"> 
      <a onClick="if(this.blur)this.blur()" href="virtuoso"><img src="/media/chairs/V.gif" width="150" height="150"></a><font color="#CC0000" size="-1">&nbsp;<b>Virtuoso®</b></font>
    </td>
  </tr>
  <tr>
    <td width="150" valign="top"><font color="FFFFFF">The Perry Chair
    - the first high-density stack chair to provide the benefits of
    passive ergonomics.  The comfort derives from the chair's back
    flex, which is counterbalanced by the user's seated body
    weight.</font></td>
    <td width="150" valign="top"><font color="#FFFFFF">The uno
    harnesses the body’s continual movement for a new concept in
    ergonomics.  Its unique new cradle design pivots near your center
    of gravity following your movement without mechanical
    gadgetry. The passive adjustment eliminates levers and
    buttons.</font></td>
    <td width="150" valign="top"><font color="#FFFFFF">A patented
    articulating back and a tubular steel sled-base frame give
    Virtuoso® chairs a tasteful combination of comfort and
    strength.</font></td>
  </tr>
  <tr>
    <td valign="top"><font color="FFFFFF">By Krueger
    International.<br><img src="/media/thumb/ki_logo.jpg"></font></td>
    <td valign="top"><font color="FFFFFF">By
    Turnstone.<br><img src="/media/thumb/turnstone.jpg"></font></td>
    <td valign="top"><font color="FFFFFF">By
    Virco.<br><img src="/media/thumb/virco.jpg"></font></td>
  </tr>
</table>
</center>
{% endblock %}
