{% extends 'base_chairs.html' %}
{% block title %}Perry Chair{% endblock %}
{% block sideselected %}perry{% endblock %}
{% block contents %}
<center>
<table style="padding: 20px;" width="488" height="345" cellspacing="0" cellpadding="0">
  <tr>
    <td rowspan="2" bgcolor="#000000" align="left" valign="top"><img src="/media/chairs/P4.gif" width="365" height="523"></td>
    <td valign="top" bgcolor="#000000" height="266">
      <div align="left"><img src="/media/chairs/P3.gif" width="365" height="356"></div>
    </td>
  </tr>
  <tr>
    <td valign="top" bgcolor="#000000" height="71">
      <div align="center">
        <p>&nbsp;</p>
        <p><b><font size="4" color="#FFFFFF">PERRY® Stack Chair</font></b>
	  <font size="2" color="#FFFFFF"><br>
            The only articulating chair that allows the <br>
            stacking of arms and armless, upholstered and <br>
            non-upholstered chairs all in the same column <br>
            up to 25 on a cart.
	</p>
        <p><a href="http://www.amazon.com/gp/product/B0028X4ZTO?ie=UTF8&tag=pauper-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=B0028X4ZTO" target="_blank">Amazon: Perry Stack Chair</a><img src="http://www.assoc-amazon.com/e/ir?t=pauper-20&l=as2&o=1&a=B0028X4ZTO" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /><br/>
<a href="http://www.ki-inc.com/products/151/Stack_Guest_Seating/Perry.aspx" target="_blank">KI: Perry Stack Chair</a></font></p>
      </div>
    </td>
  </tr>
</table>
</center>
{% endblock %}
