{% extends 'base_chairs.html' %}
{% block title %}Uno Chair{% endblock %}
{% block sideselected %}uno{% endblock %}
{% block contents %}
<center>
<table style="padding: 20px;" width="200" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td rowspan="2" bgcolor="#FFFFFF" valign="top" align="left"><img src="/media/chairs/UM.gif" width="365" height="465"></td>
      <td valign="top" bgcolor="#FFFFFF">
        <div align="left"><img src="/media/chairs/U5.gif" width="365" height="293"></div>
      </td>
    </tr>
    <tr>
      <td valign="top" bgcolor="#FFFFFF">
        <div align="center">
          <p><b><font size="4">uno™ Chair</font></b><font size="1"><br/>
        Passive adjustment eliminates  levers and buttons.<br/><br/>
        Excellent for conference rooms,  lobbies, auditoriums, <br/>
        home office and airport beam seating.<br>
        You&#146;re not in a static position. The Uno harnesses the <br/>
        body&#146;s continual movement for a new concept in ergonomics.<br/><br/>
        Its unique new cradle design pivots near your center of <br/>
        gravity following your movement without mechanical gadgetry.<br/><br/>
</font><font size="2">
<a href="http://www.amazon.com/gp/offer-listing/B0007LQ1QO?ie=UTF8&tag=pauper-20&linkCode=am2&camp=1789&creative=9325&creativeASIN=B0007LQ1QO" target="_blank">Amazon: Uno Task Chair</a><img src="http://www.assoc-amazon.com/e/ir?t=pauper-20&l=as2&o=1&a=B0007LQ1QO" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /><br/>
<a href="http://store.steelcase.com/products/uno-chair/" target="_blank">Turnstone: uno™ Chair</a></font>
	  </p>
        </div>
      </td>
    </tr>
</table>
</center>
{% endblock %}
