{% extends 'base_chairs.html' %}
{% block title %}Virtuoso Chair{% endblock %}
{% block sideselected %}virtuoso{% endblock %}
{% block contents %}
<center>
<table style="padding: 20px;" width="200" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td rowspan="2" bgcolor="#FFFFFF">
      <div align="left"><img src="/media/chairs/V3.gif" width="365" height="523"></div>
    </td>
    <td valign="top" bgcolor="#FFFFFF">
      <div align="left"><img src="/media/chairs/V5.gif" width="365" height="293"></div>
    </td>
  </tr>
  <tr>
    <td valign="top" bgcolor="#FFFFFF">
      <div align="center">
        <p><br><b><font size="4"> Virtuoso® Chair</font></b><font size="2"><br>
        The only articulating chair that allows the <br>
        stacking of arms and armless, upholstered and <br>
        non-upholstered chairs all in the same column<br>
        up to 25 on a cart.</font>
	</p>
        <p><font size="-1"><a href="http://www.amazon.com/gp/offer-listing/B003Z11D3O?ie=UTF8&tag=pauper-20&linkCode=am2&camp=1789&creative=9325&creativeASIN=B003Z11D3O">Amazon: Virco Virtuoso® Series Stack Chair</a><img src="http://www.assoc-amazon.com/e/ir?t=pauper-20&l=as2&o=1&a=B003Z11D3O" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
<!-- <b><a href="http://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords=virco+virtuoso+chair&x=0&y=0" target="_blank">Shop at Amazon</a></b> -->
</font></p>
      </div>
    </td>
  </tr>
</table>
</center>
{% endblock %}
