Year,Piece,Location,City,State,Material,Size,Style,Image,
2000,Black Hole,McKinney Residence,Cincinnati,OH,,,,,
2000,Open Mace,Perry Residence,Norwalk,CT,,,,,,,,
2000,Helix Mobius Mace,Seven Bridges Foundation,Greenwich,CT,,,,,
1999,Mace,Perry Residence,Norwalk, CT,,,,,
1999,Regeneration,Zaimu University,Tokyo,Japan,,,,,
1999,Tetra,Waterfront Park,Louisville,KY,,,,,
1998,Ribbed Mobius Mace,Computer Science Corp.,Falls Church,VA,,,,,
1998,Rondo,Kinshicho Station,Tokyo,Japan,,,,,
1997,Sea & Sky,Kokubu City Hall,Kokubu,Japan,,,,,
1996,Conquilla,Perry Residence,Norwalk,CT,,,,,
1995,Indiana Arc,Indiana U. Museum of Art,Bloomington,IN,,,,,
1994,Arch of Janus,Seven Bridges Foundation,Greenwich,CT,,,,,
1994,Dual Universe,Shell Plaza,Singapore,Singapore,,,,,
1992,Double Knot,Seven Bridges Foundation,Greenwich,CT,,,,,
1992,Double Knot,The O'Connor Group,White Plains,NY,,,,,
1992,Split Mace,Richard McKenzie,Greenwich,CT,,,,,
1991,Color Shaft,Taubman Corp.,Concord,CA,,,,,
1991,Conic Madrigal,I.K.J.V.,Perth,Australia,,,,,
1991,Double Knot,Masco Corp.,Taylor,MI,,,,,
1990,Blade,Cummer Gallery Museum,Jacksonville,FL,Bronze,3 feet,Topological,,
1990,Double Ribbed Mace,Thermatool,New Haven,CT,,,,,
1990,Duality,Barnett Center,Jacksonville,FL,,,,,
1990,Harmony,Bushnell Park,Hartford,CT,,,,,
1990,Uconn,University of Connecticut,Storrs,CT,,,,,
1989,Kinetic Tetrahedra,The Lynmark Group,Suffern,NY,,,,,
1989,Shell Mace,Shell Oil Co. Ltd.,Melbourne,Australia,,,,,
1988,Helix Mobius Mace,Crystal City,Arlington,VA,,,,,
1988,Shaving,Flagler Federal Tower,West Palm Beach,FL,,,,,
1987,Planer Ribbed Mace I,Merritt 7, Building # 4,Norwalk,CT,,,,,
1987,Planer Ribbed Mace II,Linclay Corp.,Columbus,OH,,,,,
1986,Bisected Dodecahedron,Eggleston Residence,Bedford,NY,,,,,
1986,Calligraphic Loop,Cadillac Fairview Ass.,Fairfax,VA,,,,,
1986,Calligraphic Mobius,Crystal City,Arlington,VA,,,,,
1986,Duality,Pugh Residence,Greenwich,CT,,,,,
1986,Three,Edward A. Lashins Inc.,Armonk,NY,,,,,
1986,Triple Knot,Marina Center Holdings,Singapore,Singapore,,,,,
1986,Vetical Duality,Northpark Town Center,Atlanta,GA,,,,,
1985,Hanging Double Helix,Merritt 7, Building # 3,Norwalk,CT,,,,,
1985,Open Mace,National Solid Wastes Association,Washington,DC,,,,,
1985,Ship of our Nights,Merritt 7, Building # 3,Norwalk,CT,,,,,
1985,Solo, Quartet,Summit BuildingMidland,TX,,,,,
1985,Solstice,Barnett Plaza,Tampa,FL,,,,,
1984,Double Helix,Merritt 7,Building # 3,Norwalk, CT,,,,,
1984,Ship of our Nights,Linclay Corporation,Cincinnati,OH,,,,,
1984,Ship of our Nights,East Town Mall,Knoxville,TN,,,,,
1984,Trio,Lincoln Properties,Maitland,FL,,,,,
1983,Blanco,Paragon Group,Fort Lauderdale,FL,,,,,
1983,Helix Mace,Investment Mortgage International,San Francisco,CA,,,,,
1983,Intersections,Computer Science,El Segundo,CA,,,,,
1983,Mace,Interfirst Bank,Dallas,TX,,,,,
1983,The Guardian,Soundview Plaza,Stamford,CT,,,,,
1982,Equinox,Lincoln Center,Dallas,TX,,,,,
1982,Hanging Fans II,Merritt 7, Building # 2,Norwalk,CT,,,,,
1982,Hanging Star,Continental Plaza,Fort Worth,TX,,,,,
1982,Red Thrust,Towne Center,Stamford,CT,,,,,
1981,Duality,Atlanta North,Atlanta,GA,,,,,
1981,Hovering,IBM University Research Park,Charlotte,NC,,,,,
1981,Rotating Double Helix,Bal Harbor SheratonFort Lauderdale,FL,,,,,
1980,Enigma,World Savings & Loan,Los Angeles,CA,,,,,
1980,Enigma, Equation,Lynnhaven Mall,Virginia Beach,VA,,,,,
1980,Hanging Fans I,Merritt 7, Building # 1,Norwalk,CT,,,,,
1979,Cube Octa,Taubman Corporation,Pleasanton,CA,,,,,
1979,Ribbed Mace,Taubman Corporation,Reno,NV,,,,,
1979,Helix Mace,Perry Residence,Norwalk,CT,,,,,
1978,Cassini,Civic Arts Complex,Ringwood,Australia,,,,,
1977,Bronze Loops,Blue Cross,Los Angeles,CA,,,,,
1977,Ram,South Coast Plaza,Costa Mesa,CA,,,,,,
1977,"S",MLC Center,Sydney,Australia,,,,,
1977,"S" (Closed),City of Miami Beach,Miami,FL,,,,,
1977,Ship of our Nights,Saudi Arabian Airlines,Jeddah,Saudi Arabia,,,,,
1977,Split Mace,Taubman Corporation,Brea,CA,,,,,
1976,Archimede,Homart Corporation,Northbrook,IL,,,,,
1976,Cassini,Homart Corporation,Northbrook,IL,,,,,
1976,Continuum,National Air & Space Museum,Smithsonian I.,Washington,D.C.,,,,,
1976,Da Vinci,Homart Corporation,Northbrook,IL,,,,,
1976,Double Knot,Harvard Business School,Cambridge,MA,,,,,
1976,Elipsoid,Ministry of Defense and Air,Riyadh,Saudi Arabia,,,,,
1976,Mercator,Homart Corporation,Northbrook,IL,,,,,
1975,D2D,Dartmouth College,Hanover,NH,,,,,
1975,Mercator,Theatre Royal,Sydney,Australia,,,,,
1975,Three,Wilshire & Bedford,Beverly Hills,CA,,,,,
1975,Black Hole,Perry Residence,Norwalk, CT,,,,,
1975,Cassini,Perry Residence,Norwalk,CT,,,,,
1974,Double Knot,University of South Carolina,Aiken,SC,,,,,
1974,Turbo,General Electric Headquarters,Fairfield,CT,,,,,
1974,Worlds,Dallas International Bank,Dallas,TX,,,,,
1973,Bullet Proof Campus Art,University of Denver,Denver,CO,,,,,
1973,Cantata,Security Pacific Bank,Los Angeles,CA,,,,,
1973,Eclipse,Hyatt Regency Hotel Embarcadero Center,San Francisco,,,,,,
1973,Left Wing,Security Pacific Bank,Riverside,CA,,,,,
1973,Thrice,Federal Reserve Bank,Minneapolis,MN,,,,,
1972,Octaform,Perry Residence,Norwalk,CT,,,,,
1972,Cruciform,Equitable Life,St. Louis,MO,,,,,
1971,Early Mace,Peachtree Center,Atlanta,GA,,,,,
1970,Ship of our Nights,Spellman College,Atlanta,GA,,,,,
1968,Cassini,Torin Corporation,Torrington,CT,,,,,
1968,Octaform,Bank of California,San Francisco,CA,,,,,
1968,Octaform,Torin Corporation,Torrington,CT,,,,,
1966,Icosaspirale,Alcoa Building,San Francisco,CA,,,,,
1964,Elipsoid,City Mall,Fresno,CA,,,,,
1975,4 Orbits,Oklahoma City,OK,Bronze,11 Feet,Topological,oklahoma.jpg
