{% extends 'base_art.html' %}
{% block title %}Sculpture{% endblock %}
{% block sideselected %}style{% endblock %}
{% block contents %}
<div class="photos">
<br><font size="2" color="#FFFFFF"><b>Click image to view extended family </b></font><br>
<ul style="width:400px; padding:5px;">
  <li><a href="/sculpture/style/ribbed/" title="Ribbed" onClick="this.blur()"><img name="Ribbed" src="/media/thumb/Hribbed.gif" height="150" width="150"></a><br>
    <font color="#CC0000" size="-1">&nbsp;<b>Ribbed</b></font>
  </li>
  <li><a href="/sculpture/style/planar/" title="Planar"  onClick="this.blur()"><img name="Planar" src="/media/thumb/Hplanar.gif" height="150" width="150"></a><br>
    <font color="#CC0000" size="-1"><b>&nbsp;Planar</b></font>
  </li></br>
  <li><a href="/sculpture/style/topological/" title="Topological" onClick="this.blur()"><img name="Topological" src="/media/thumb/Htopo.gif" height="150" width="150"></a><br>
    <font color="#CC0000" size="-1"><b>&nbsp;Topological</b></font>
  </li>
  <li><a href="/sculpture/style/solid/" title="Solid" onClick="this.blur()"><img name="Solid" src="/media/thumb/Hsolid.gif" height="150" width="150"></a><br>
    <font color="#CC0000" size="-1"><b>&nbsp;Solid</b></font>
  </li>
</ul>
</div>
{% endblock contents %}
