{% extends 'base_art.html' %}
{% block title %}'List'{% endblock %}
{% block sideselected %}'listing'{% endblock %}
{% block scripts %}
<style type="text/css">  
a:link {color: blue;}
a:visited {color: blue;}
a:hover {color: red;}
</style>
{% endblock %}
{% block contents %}
<script src="/media/js/sorttable.js"></script>
<center><br/>
  <table class="sortable" center>
    <thead>
      <tr><th>Name</th><th>Location</th><th>City</th><th>State</th><th>Country</th><th>Year</th></tr>
    </thead>
    <tbody>
      {% for art in arts %}
      <tr itemscope itemtype="http://schema.org/Sculpture">
	<meta itemprop="author" content="Charles O. Perry">
	<td>{% if art.image %}<a itemprop="url" href="{{art.get_absolute_url}}">{% endif %}<span itemprop="name">{{art.name}}</span>{% if art.image %}</a>{% endif %}</td>
	{% if art.geolink %}
	<td><a target="_map" href="{{art.geolink}}">{{art.location}}</a></td>
	{% else %}
	<td>{{art.location}}</td>
	{% endif %}
	<td>{{art.city}}</td>
	<td>{{art.state}}</td>
	<td>{{art.country}}</td>
	<td>{{art.year}}</td></tr>
{% endfor %}
    </tbody>
  </table>
</center>
<br/><br/><br/><br/>
{% endblock %}
