{% extends 'base_art.html' %}
{% block title %}Material{% endblock %}
{% block sideselected %}'material'{% endblock %}
{% block scripts %}
<style type="text/css">  
.photos li { 
  font: -1; 
  color: #CC0000;
  font-weight: bold;
}
</style>
{% endblock %}
{% block contents %}
<div class="photos"><br>
<font size="2" color="white"><b>Click  image to view extended family </b></font><br>
<ul style="width:550px; padding:5px;">
  <li><a href="/sculpture/material/aluminum/" title="Aluminum" onClick="this.blur()">
      <img name="" src="/media/thumb/Aluminum.gif" width="150" height="150"></a>
    <br>&nbsp;Aluminum</li>
  <li><a href="/sculpture/material/bronze/" title="Bronze"  onClick="this.blur()">
      <img name="" src="/media/thumb/bronze2.gif" width="150" height="150"></a>
    <br>&nbsp;Bronze</li>
  <li><a href="/sculpture/material/steel/" title="Steel" onClick="this.blur()">
      <img name="" src="/media/thumb/Steel.gif" width="150" height="150"></a>
    <br>&nbsp;Steel</li>
  <li><a href="/sculpture/material/stainlesssteel/" title="Stainless Steel" onClick="this.blur()">
      <img name="" src="/media/thumb/SSteel.gif" width="150" height="150"></a>
    <br>&nbsp;Stainless Steel</li>
  <li><a href="/sculpture/material/other/" title="Other" onClick="this.blur()">
      <img name="" src="/media/thumb/ArchofJ.gif" width="150" height="150"></a>
    <br>&nbsp;Other</li>
</ul>
</div>
{% endblock contents %}
