{% extends 'base_art.html' %}
{% block title %}Material{% endblock %}
{% block sideselected %}'material'{% endblock %}
{% block contents %}
<font size="2" color="white"><b>Click  image to view extended family </b></font><br>
<center>
<div class="photos">
<table width="538" border="0" cellspacing="8" cellpadding="0" height="318">
    <tr> 
      <td height="157" width="151"> 
        <a href="/sculpture/material/aluminum/"><img name="" src="/media/thumb/Aluminum.gif" width="150" height="150" align="top"><b></a><font color="#CC0000" size="-1">&nbsp;Aluminum</font></b>
      </td>
      <td height="157" width="151">
	<a href="/sculpture/material/bronze/"><img name="" src="/media/thumb/bronze2.gif" width="150" height="150"></a><b><font color="#CC0000" size="-1">&nbsp;Bronze</font></b>
      </td>
      <td height="157" width="204">
        <a href="/sculpture/material/other/"><img name="" src="/media/thumb/ArchofJ.gif" width="150" height="150"></a><br><b><font color="#CC0000" size="-1">&nbsp;Other</font></b>
      </td>
    </tr>
    <tr> 
      <td width="151" height="147">
        <a href="/sculpture/material/steel/"><img name="" src="/media/thumb/Steel.gif" width="150" height="150"></a><br><b><font color="#CC0000" size="-1">&nbsp;Steel</font></b>
      </td>
      <td width="151" height="147"><a href="/sculpture/material/stainlesssteel/"><img name="" src="/media/thumb/SSteel.gif" width="150" height="150"></a><br><b><font color="#CC0000" size="-1">&nbsp;Stainless Steel</font></b>
      </td>
    </tr>
  </table>
</div>
</center>
{% endblock contents %}
