{% extends 'base_mobile.html' %}

{% block contents %}
<div class="photos">
<font size="2" color="#FFFFFF"><b>We are mobile! </b></font></br>
<ul style="width:400px; padding:5px;">
  <li><a href="/sculpture/style/ribbed/"><img  src="/media/thumb/Hribbed.gif"></a></br>
    <font color="#CC0000" size="-1">&nbsp;<b>Ribbed</b></font>
  </li>
  <li><a href="/sculpture/style/planar/"><img  src="/media/thumb/Hplanar.gif"></a></br>
    <font color="#CC0000" size="-1"><b>&nbsp;Planar</b></font>
  </li></br>
  <li><a href="/sculpture/style/topological/"><img name=""  src="/media/thumb/Htopo.gif"></a></br>
    <font color="#CC0000" size="-1"><b>&nbsp;Topological</b></font>
  </li>
  <li><a href="/sculpture/style/solid/"><img name=""  src="/media/thumb/Hsolid.gif"></a></br>
    <font color="#CC0000" size="-1"><b>&nbsp;Solid</b></font>
  </li>
</ul>
</div>
{% endblock contents %}
