{% extends 'base.html' %}
{% block scripts %}
<link rel="stylesheet" href="/media/css/the-background.css" type="text/css" media="screen" />
<script type='text/javascript' src='/media/js/full_background.js'></script> 
{% endblock %}
{% block location %}{% endblock location %}
{% block sidebar %}{% endblock %}
{% block contents %}

<div id='the-background'>
<img src="/media/sculpture/large/Eclipse_ThomasHawk_large.jpg"  width='1024' height='670' class="active" alt='Artist and Sculptor Charles O. Perry'>
<img src="/media/sculpture/large/eclipse_top_web.jpg"  width='1024' height='781' alt=''>
<img src="/media/sculpture/large/Solstice_giveawayboy_large.jpg"  width='1024' height='768' alt=''>
<img src="/media/sculpture/large/continuum_wallyg.jpg"  width='1024' height='768' alt=''>

<img src="/media/sculpture/large/arch_of_janus_l.jpg"  width='600' height='399' alt=''>
<img src="/media/sculpture/large/bisected_dodeca_l.jpg"  width='1024' height='662' alt=''>
<img src="/media/sculpture/large/calligraphic_mobius_l.jpg"  width='1024' height='639' alt=''>
<img src="/media/sculpture/large/Regeneration_l.jpg"  width='1024' height='676' alt=''>
<img src="/media/sculpture/large/ellipsoid6-2_l.jpg"  width='986' height='768' alt=''>
<img src="/media/sculpture/large/indiana-arc_l.jpg"  width='1024' height='669' alt=''>
<img src="/media/sculpture/large/split-ribbed-mace_l.jpg"  width='1024' height='682' alt=''>
<img src="/media/puzzles/chess-set_l.jpg"  width='1024' height='682' alt=''>
<img src="/media/puzzles/cube-chess-set_l.jpg"  width='1024' height='682' alt=''>
</div>
{% endblock contents %}
