{% extends 'base.html' %}
{% block title %}Slideshow{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="/media/css/supersized.css" type="text/css" media="screen" />
<script src="/media/js/effects.core.js"></script> 
<script src="/media/js/effects.slide.js"></script> 
<script type="text/javascript" src="/media/js/supersized.3.0.js"></script> 
<script type="text/javascript">
  $(function(){
  $.fn.supersized.options = {  
  startwidth: 800,  
  startheight: 600,
  vertical_center: 1,
  slideshow: 1,
  navigation: 0,
  thumbnail_navigation: 0,
  transition: 1,
  slide_counter: 0,
  slide_captions: 0,
  slide_interval: 5000,
  slides : [
  {image: '/media/sculpture/large/Eclipse_ThomasHawk_large.jpg' },
  {image: '/media/sculpture/large/eclipse_top_web.jpg' },
  {image: '/media/sculpture/large/Solstice_giveawayboy_large.jpg' },
  {image: '/media/sculpture/large/bisected_dodeca_l.jpg' },
  {image: '/media/sculpture/large/calligraphic_mobius_l.jpg' },
  {image: '/media/sculpture/large/Regeneration_l.jpg' },
  {image: '/media/sculpture/large/ellipsoid6-2_l.jpg' },
  {image: '/media/sculpture/large/indiana-arc_l.jpg' },
  {image: '/media/sculpture/large/split-ribbed-mace_l.jpg' },
  {image: '/media/puzzles/chess-set_l.jpg' },
  {image: '/media/puzzles/cubic-chess-set_l.jpg' },
  {image: '/media/sculpture/large/continuum_wallyg.jpg' }
  ]
  };
  $('#supersized').supersized(); 
  });


$(document).ready(function(){
  $('#supersized').css('opacity', 0);

  $('#supersized').animate({
    opacity: 1
  }, 1500);
});
</script>
<style type="text/css">
	
</style>
{% endblock %}
{% block location %}{% endblock location %}
{% block sidebar %}{% endblock %}
{% block contents %}
<div id="loading">&nbsp;</div>
<div id="content-wrapper">
	<div id="content">
	</div>
</div>
<div id="supersized"></div>
{% endblock contents %}
