{% extends 'base_art.html' %}
{% block title %}Style{% endblock %}
{% block sideselected %}style{% endblock %}
{% block scripts %}
<style type="text/css">  
.photos li { 
  font: -1; 
  color: #CC0000;
  font-weight: bold;
}
</style>
{% endblock %}
{% block contents %}
<div class="photos">
<br><font size="2" color="#FFFFFF"><b>Click image to view extended family </b></font><obr>
<ul style="width:400px; padding:5px;">
  <li><a href="/sculpture/style/ribbed/"><img  src="/media/thumb/Hribbed.gif"></a><br>&nbsp;Ribbed</li>
  <li><a href="/sculpture/style/planar/"><img  src="/media/thumb/Hplanar.gif"></a><br><b>&nbsp;Planar</li>
<br>
  <li><a href="/sculpture/style/topological/"><img name="" src="/media/thumb/Htopo.gif"></a>
    <br>&nbsp;Topological</li>
  <li><a href="/sculpture/style/solid/"><img name=""  src="/media/thumb/Hsolid.gif"></a>
    <br>&nbsp;Solid</b></li>
</ul>
</div>
{% endblock contents %}
