{% spaceless %}<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang='en'> 
<head>
<title>Charles O. Perry - {% block title %} {% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<meta name="google-site-verification" content="z-WDb2z9f2qitNZ1y1lLxL-gBF3plOc7MOzDEhqzlCI" />
<meta name="description" content="Artist and Sculptor Charles O. Perry">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> 
<link rel="icon" href="/favicon.ico"> 
<meta name="keywords" content="charles perry, Charles O. Perry, Charles Owen Perry, art math mathematics symmetry arte moderna public acrylic bronze steel marble stone aluminum brass modern non-figurative abstract geometric topological sculpture connecticut american contemporary 20th century artist famous sculptor chair industrial design silver gold tiffany pendants earrings pin jewelry three-dimensional puzzles interlocking ball zen double puzzles chess set MOMA Museum of Modern Art American Accademy in Rome">
<meta name="distribution" content="global"> 
<meta name="rating" content="general"> 
<meta name="resource-type" content="document"> 
<meta name="robots" content="index,follow"> 
<meta name="robots" content="all"> 
<link rel="stylesheet" type="text/css" href="/media/cop.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script> 
{% comment %}<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.min.1.4.3.js"></script>{% endcomment %}
<script type="text/javascript" src="/media/js/extras.js"></script> 
{% block scripts %}{% endblock scripts %}
{% block location %}
<!-- location of the Charles O. Perry Studio -->
<meta name="geo.placename" content="Norwalk, CT, USA" >
<meta name="geo.position" content="41.095382; -73.418460">
<meta name="geo.region" content="US-CT" >
<meta name="ICBM" content="41.095382, -73.418460">
{% endblock location %}
</head>
<body style="background-color: #000000;">
{% block header %}
<div id="header" class='{% block selected %}none{% endblock %}'> 
    <h1><a href="/"><b>Charles O. Perry</b></a></h1> 
    <ul> 
      <li><a id='sculpture' href="/sculpture/">SCULPTURE</a></li> 
      <li><a id='chairs' href="/chairs/">CHAIRS</a></li> 
      <li><a id='jewelry' href="/jewelry/">JEWELRY</a></li> 
      <li><a id='puzzles' href="/puzzles/">PUZZLES</a></li> 
      <li><a id='tour' href="/sculpture/slideshow">TOUR</a></li> 
      <li><a id='about' href="/bio/">ABOUT</a></li> 
      <li><a id='contact' href="/bio/contact">CONTACT</a></li>
    </ul> 
</div>
{% endblock header %}
{% block sidebar %}
{% endblock %}
<div id="contents" style="padding:0; background-color:{% block bgcolor %}#000000{% endblock %};">
{% block contents %}
  <img src="/media/thumb/cop2.gif" width="372" height="372" align="top" alt="Sculptor Charles O. Perry">
  <br><center>Artist and Sculptor Charles O. Perry</center>
{% endblock contents %}
</div>
{% block footer %}
<div id="footer" style="z-index: 1"> 
  &bull; &copy; Copyright 2000-2011 by Charles O. Perry &bull; 
{% comment %}
<!-- this would be a good idea:
<p>If you want to view on a mobile phone or similar device <a href="?ui=mobile">click here</a>.</p> 
-->
{% endcomment %}
</div> 
{% endblock %}
{% block analytics %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19685844-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endblock analytics %}
</body>
</html>
{% endspaceless %}
