{% extends 'base.html' %}
{% block title %}Jewelry{% endblock %}
{% block selected %}jewelry{% endblock %}
{% block sidebar %}
<div id="menu" class='{% block sideselected %}none{% endblock %}'> 
  <ul>
  <li style="margin-left:7px;"><a href="/">HOME</a></li>
  <li style="margin-left:187px;"><a id='pendants' href="/jewelry/pendants/">PENDANTS</a></li>
  <li><a id='earrings' href="/jewelry/earrings/">EARRINGS</a></li>
  <li><a id='pins'     href="/jewelry/pins/">PINS</a></li>
  <li><a id='other'    href="/jewelry/other/">OTHER</a></li>
  </ul>
</div>
{% endblock %}
