{% extends 'base.html' %}
{% block title %}Biography{% endblock %}
{% block selected %}about{% endblock %}
{% block sidebar %}
<div id="menu" class='{% block sideselected %}none{% endblock %}'>
  <ul>
    <li style="margin-left:7px;"><a href="/">HOME</a></li>
    <li style="margin-left:66px;"><a id='bio' href="/bio/bio">BIO</a></li>
    <li><a id='shows' href="/bio/shows">SHOWS</a></li>
    <li><a id='collections' href="/bio/collections">COLLECTIONS</a></li>
    <li><a id='reviews' href="/bio/reviews">REVIEWS</a></li>
    <li><a id='awards' href="/bio/awards">AWARDS</a></li>
<!--    <li><a id='associations' href="/bio/associations">ASSOCIATIONS</a></li> -->
    <li><a id='lectures' href="/bio/lectures">LECTURES</a></li>
    <li><a id='publications' href="/bio/publications">PUBLICATIONS</a></li>
    <li><a id='patents' href="/bio/patents">PATENTS</a></li>
    <li><a id='links' href="/bio/links">LINKS</a></li>
  </ul>
</div>
{% endblock %}

{% block contents %}
<div style="margin-left: auto; margin-right: auto;width: 60em; text-align: left; background-color:white; padding:10px;">
{% block content %} {% endblock %}
</div>
{% endblock contents %}
