/* -------- Background Image -------- */ 

#the-background {
    position: fixed;
    overflow: hidden;
    z-index:1;
    width: 100%;
    height:100%;
    top:43;
    left:0;
}

#the-background IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
}

#the-background IMG.active {
    z-index:10;
    opacity:1.0;
}

#the-background IMG.last-active {
    z-index:9;
}

