{% extends 'base_jewelry.html' %}
{% block title %}{{jewel.name}}{% endblock %}
{% block scripts %}
<style type="text/css">  
#jname { 
  font-size: 1.4em;
  font-weight: bold;
  color: white;
}
</style>
<script type="text/javascript">  
$(document).keydown(function(e) {
  var e = window.event? event : e; 
  var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
  switch(key) {
  case 32: // space
    window.document.location = "{{jewel.next}}";
    break;
  case 33: // Page Up
    window.document.location = "{{jewel.prev}}";
    break;
  case 34: // Page Down
  window.document.location = "{{jewel.next}}";
  break;
  case 36: // Home
  window.document.location = "/";
  break;
  case 37: // left arrow
  window.document.location = "{{jewel.prev}}";
  break;
  case 39: // right arrow
  window.document.location = "{{jewel.next}}";
  break;
  case 38: // up arrow
  window.document.location = "{{jewel.prev}}";
  break;
  case 40: // down arrow
  window.document.location = "{{jewel.next}}";
  break;
  }
});
</script>
{% endblock scripts %}
{% block contents %}
<br/><br/>
<div style="width: 400px; margin-left: auto; margin-right: auto;">
  <div style="float: left;"><a href="{{jewel.prev}}">< Previous</a></div>
  <span id="jname">{{jewel.name}}</span>
  <div style="float: right;"><a href="{{jewel.next}}">Next ></a></div><br>
<div class="photos"><img alt="Charles Perry Jewelry - {{jewel.name}}" src="/media/jewelry/large/{{jewel.image}}"></div>
</div>
{% endblock %}
