{% extends 'base_jewelry.html' %}
{% block title %}Jewelry{% endblock %}
{% block sideselected %}{{ sidemenu }}{% endblock %}
{% block scripts %}
{% comment %}
<!-- http://www.leveltendesign.com/blog/nickc/centering-a-css-menu-without-width-aka-shrink-wrap -->
{% endcomment %}
<style type="text/css">  
.photos {
  display: table; 
  margin: 0 auto;
}
.photos ul {
  display: table-cell;
}
<!--[if IE]>
.photos {
  display: block; 
  margin: 0;
  texit-align: center;
}
.photos ul {
  display: inline;
  zoom: 1;
}
<![endif]-->
</style>
{% endblock %}
{% block contents %}
<div class="photos">
<br>
<font color="#FFFFFF"><strong>Click image to enlarge and view details</strong></font><br><br>
{% for jewel in jewelry %}
<div style="float:left; padding:5px;"> 
 <a href="{{jewel.get_absolute_url}}"  onClick="this.blur()"><img src="/media/jewelry/medium/{{jewel.image}}" width="150" height="150"></a><br>
    <font size="1" color="#FFFFFF"><b>{{jewel.name}}</b></font>
</div>
{% endfor %}
</div>
{% endblock %}
